<!DOCTYPE html>
<html>
	<head>
		<title>Day of Week</title>
	</head>
	<body>
		<% if(dayOfWeek === "Sunday") { %>
		<h1>Today is <%= dayOfWeek %></h1>
		<% } else { %>
		<h1>I dont Know</h1>
		<%} %>
	</body>
</html>
